.activity {
  @include flex();
  position: relative;
}

.activity__icon {
  display: block;
}

.activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__item::before {
  content: "";
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.activity__deskr {
  position: absolute;
  bottom: 27px;
  width: 370px;
  height: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primary-bgc;
}
