body {
  background-color: $primary-bgc;
  color: $main-text-color;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  // outline: 2px solid red;
  @media screen and (max-width: 767px) {
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 768px) {
    width: 780px;
    padding: 0 15px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

h1,
h2,
h3,
h4 {
  color: $title-text-color;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.section {
  position: relative;
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (min-width:480px) and (max-width:1200px) {
    padding-top: 60px;
    padding-bottom: 60px;    
  }
}

.section__title,
.contact-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width:1200px) {
    margin-bottom: 50px;
  }
}

.section--inverse {
  @extend .section;
  width: 100%;
  background-color: $secondary-bgc;
  background-position: center;
}
