%logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 1.19;
  
    color: $logo-color;
    text-decoration: none;
  }